<header>
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
			aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav me-auto mt-2 mt-lg-0">
					<li class="nav-item link-active">
						<a class="nav-link" href="#" aria-current="page">
							<span class="nav-content">Home</span>
							<mat-icon class="nav-content" aria-hidden="false" aria-label="Ícone de uma casa" fontIcon="home"></mat-icon>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<span class="nav-content">Listar Moedas</span>
							<mat-icon class="nav-content" aria-hidden="false" aria-label="Cifrão" fontIcon="attach_money"></mat-icon>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<span class="nav-content">Converter Moedas</span>
							<mat-icon class="nav-content" aria-hidden="false" aria-label="Cifrão dentro de duas setas que indicam troca de valores" fontIcon="currency_exchange"></mat-icon>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<span class="nav-content">Histórico de conversões</span>
							<mat-icon class="nav-content" aria-hidden="false" aria-label="Ponteiros de um relógio dentro de uma seta no sentido anti-horário" fontIcon="history"></mat-icon>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</nav>
</header>
