header {
	font-size: var(--font-size-md);
}

ul {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1.6rem;
}

mat-icon {
	color: var(--bs-nav-link-color);
}

.nav-item {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

.navbar-toggler {
	border: 2px solid #dedede;
	padding: 0.8rem;
}

.navbar-toggler:focus {
	box-shadow: 0px 0px 2px 1px;
}

@media screen and (max-width: 992px) {
	.container-fluid {
		justify-content: flex-end;
		align-items: center;
	}
}
