<div _ngcontent-eya-c161="" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" class="modal fade show" style="display: block;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja apagar essa conversão?
      </div>
      <div class="modal-footer">
        <button (click)="close()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button (click)="delete()" type="button" class="btn btn-danger">Sim</button>
      </div>
    </div>
  </div>
</div>
