<div *ngIf="coins.length">

  <form class="d-flex justify-content-end p-3" role="search">
    <input class="form-control pe-2" type="search" placeholder="Pesquisar" aria-label="Pesquisa" [(ngModel)]="filter" (ngModelChange)="applyfilter()" [ngModelOptions]="{standalone: true}">
  </form>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef
        mat-sort-header sortActionDescription="Sort by code"
      >Código</th>
      <td mat-cell *matCellDef="let coin"> {{ coin.code }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef
        mat-sort-header sortActionDescription="Sort by description"
      >Descrição</th>
      <td mat-cell *matCellDef="let coin">{{ coin.description }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>

  <div class="paginator">
    <div class="input-group">
      <label for="pageSize">Itens por página:</label>
      <input type="number" id="pageSize" name="pageSize" aria-label="Quantidade de elementos por página"
       [(ngModel)]="pageSize" (ngModelChange)="handlePageEvent()">
    </div>

    <mat-paginator
      [length]="this.dataSource.filteredData.length"
      [pageSize]="pageSize"
      hidePageSize="true"
      aria-label="Selecione a página">
    </mat-paginator>
  </div>
</div>
