.wrap {
  overflow-x: auto;
}

th {
  white-space: nowrap;
}

.no-historic {
  margin-top: 2rem;
  text-align: center;
}

mat-icon {
  color: #0BAA5B ;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
